# Please don't commit any extraneous files! It's best practice to use a .gitignore file to keep a clean repository.
# We're going to be committing the db.sqlite3 file. This file wouldn't typically be committed in a development/production environment. For educational purposes, we'll won't add db.sqlite3 to our .gitignore file. We want it to be to show up in your GitHub repos.
# Create a `.gitignore` file that includes the text below:

# Inspired by https://www.toptal.com/developers/gitignore/api/venv,linux,macos,django,python,visualstudiocode,pycharm
### Django ###
*.log
*.pot
*.pyc
__pycache__/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history

### PyCharm ###
.idea/

### macOS ###
# General
.DS_Store

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*